<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.jbnu.medi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Tutorial.activity_tutorialStart"
            android:theme = "@style/Theme_Tutorial1">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".Tutorial.activity_tutorialSecond"
            android:theme="@style/Theme_Tutorial2"/>

        <activity
            android:name=".Tutorial.activity_tutorialThird"
            android:theme = "@style/Theme_Tutorial3"/>

        <activity
            android:name=".Tutorial.activity_tutorialFinish"
            android:theme = "@style/Theme_TutorialFinish"/>

        <activity android:name=".BaseActivity"/>
        <activity android:name=".activity_home"/>
        <activity android:name=".Bandage.activity_bandageSelect"/>
        <activity
            android:name=".Bandage.activity_bandageStart"
            android:theme = "@style/Theme_Base"/>

        <activity android:name=".HandSanitizer.activity_handSanitizerSelect"/>
        <activity
            android:name=".HandSanitizer.activity_handSanitizerStart"
            android:theme = "@style/Theme_Base"/>

        <activity android:name=".Mask.activity_maskSelect"/>
        <activity
            android:name=".Mask.activity_maskStart"
            android:theme = "@style/Theme_Base"/>
        <activity android:name=".Thermometer.activity_thermometerSelect"/>
        <activity
            android:name=".Thermometer.activity_thermometerStart"
            android:theme = "@style/Theme_Base"/>
    </application>
</manifest>